<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.UserMapper">
	<resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<id column="username" jdbcType="VARCHAR" property="username" />
		<id column="total" jdbcType="VARCHAR" property="total" />
	</resultMap>
	<resultMap id="cart" type="cn.edu.nuc.ssm.entity.Cart">
		<result column="id" property="id"/>
  		<result column="nums" property="nums"/>
  		<association property="item" javaType="Item">
  			<result column="xww_name" property="xwwName"/>
  			<result column="xww_price" property="xwwPrice"/>   						
  		</association>	
  	
	</resultMap>
	<sql id="Base_Column_List">
		id,username,password
	</sql>
	<select id="login" parameterType="cn.edu.nuc.ssm.entity.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xww_user
		where username=#{username} and password=#{password}
	</select>
	<select id="findAll" resultType="cn.edu.nuc.ssm.entity.Item">
		select
		<include refid="Base_Column_List" />
		from item
	</select>
	<!-- 查询购物车中是否有相同商品-->
	<select id="finCartEqual" parameterType="cn.edu.nuc.ssm.entity.Citem" resultMap="cart">
		
		SELECT 
	    DISTINCT 
	    c.id,
		m.xww_name,
		m.xww_price,
		c.nums 
		FROM xww_cart c,
		item m,
		xww_user u
	    WHERE c.uid=#{cart.uid}
	    AND c.mid=m.id and m.xww_name=#{item.xwwName} and m.xww_price=#{item.xwwPrice}
	</select>
	<!-- 有相同商品,修改数量 -->
	<insert id="updateNum" parameterType="cn.edu.nuc.ssm.entity.Cart" >
		update xww_cart  c SET  c.nums=c.nums+#{nums} where c.uid=#{uid} AND c.mid=#{mid}; 
	</insert>
	<!-- 加入购物车,试试使用存储过程 ,应该行不通-->
	<insert id="shop" parameterType="cn.edu.nuc.ssm.entity.Cart" flushCache="true" timeout="30000"  >
		
		insert into xww_cart(uid,mid,nums) VALUES(#{uid},#{mid},#{nums})	
	
	</insert>
	
		<!-- 查询结果重复,查询购物车 -->
	<select id="findCart" parameterType="java.lang.Integer" resultMap="cart">
		
	
		SELECT 
	    DISTINCT 
	    c.id,
		m.xww_name,
		m.xww_price,
		c.nums 
		FROM xww_cart c,
		item m ,
		xww_user u
	    WHERE c.uid=#{id}
	    AND c.mid=m.id order by c.nums 	
	</select>
	<!-- 搜索商品名称 -->
	<select id="itemFind" parameterType="java.lang.String" resultType="Item">
		SELECT * from item 
		<if test="text != '' ">
		where id=#{text} or xww_name=#{text} order by xww_kucun
		</if> 		
	</select>
	<!-- 购物车商品删除 -->
	<delete id="userMapper" parameterType="cn.edu.nuc.ssm.entity.Cart">
		DELETE FROM xww_cart WHERE id = #{id}
	</delete>

	<!-- 查找商品Id -->
	
	<select id="findShangpin" parameterType="java.lang.Integer" resultType="Item">
		
		select * from item where id=#{itemid}
	</select>
	<!-- 查找物品iD -->
	<select id="findCarts" parameterType="java.lang.Integer" resultType="Cart">
		select * from xww_cart where id=#{cartid}
	</select>
	<!-- 删除选中的 -->
	<delete id="dealCart" parameterType="java.lang.Integer">
		delete from xww_cart where id=#{cartid}
	</delete>
	<!-- 修改库存数量 -->
	<update id="dealItem" parameterType="cn.edu.nuc.ssm.entity.Cart">
		update  item set xww_kucun=xww_kucun-#{nums}   where id=#{mid}
	</update>
	<!-- 根据id修改购物车 nums-->
	<update id="setNumsById" parameterType="cn.edu.nuc.ssm.entity.Cart">
		update xww_cart set nums=#{nums} where id=#{id}
	</update>
	<!-- 查询用户名是否存在 -->
	<select id="selectByName" parameterType="java.lang.String" resultType="cn.edu.nuc.ssm.entity.User">
		select username,password from xww_user where username=#{username}
	</select>
	<!-- 注册 -->
	<insert id="insertUser" parameterType="cn.edu.nuc.ssm.entity.User" >
		insert into xww_user (username,password) values (#{username},#{password})
	</insert>
	
</mapper>