<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.UserMapper">
	<resultMap id="BaseResultMap" type="cn.edu.nuc.ssm.entity.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<id column="username" jdbcType="VARCHAR" property="username" />
		<id column="total" jdbcType="VARCHAR" property="total" />
	</resultMap>
	<resultMap id="cart" type="cn.edu.nuc.ssm.entity.Cart">
  		<result column="nums" property="nums"/>
  			<result column="nums" property="nums"/>
  		<association property="item" javaType="Item">
  			<result column="xww_name" property="xwwName"/>
  			<result column="xww_price" property="xwwPrice"/>   						
  		</association>	
  	
	</resultMap>
	<sql id="Base_Column_List">
		id,username,password
	</sql>
	<select id="login" parameterType="cn.edu.nuc.ssm.entity.User"
		resultMap="BaseResultMap">
		select
		*
		from xww_user
		where username=#{username} and password=#{password}
	</select>
	<select id="findAll" resultType="cn.edu.nuc.ssm.entity.Item">
		select
		*
		from item
	</select>
	<!-- 加入购物车,试试使用存储过程 -->
	<insert id="shop" parameterType="cn.edu.nuc.ssm.entity.Cart" flushCache="true" timeout="30000"  >
		
		insert into xww_cart(uid,mid,nums) VALUES(#{uid},#{mid},#{nums})	
	
	</insert>
	
		<!-- 查询结果重复 -->
	<select id="findCart" parameterType="java.lang.Integer" resultMap="cart">
		
	
		SELECT 
	    DISTINCT 
		m.xww_name,
		m.xww_price,
		c.nums 
		FROM xww_cart c,
		item m ,
		xww_user u
	    WHERE c.uid=#{id}
	    AND c.mid=m.id ;
	</select>
	<!-- 搜索商品名称 -->
	<select id="itemFind" parameterType="java.lang.String" resultType="Item">
		SELECT * from item 
		<if test="text != '' ">
		where id=#{text} or xww_name=#{text}
		</if> 		
	</select>
</mapper>